In [1]:
import mariadb
from os import getenv

In [2]:
class MariaDbSupport:
    def __init__(self,user,pwd,host,database,port=3306):
        
        self.user=user
        self.pwd=pwd
        self.host=host
        self.database=database
        self.port=port
        self.dms=False
    
    def debug_mode(self,value:bool=True):
        '''
        Az osztályt debug üzemmódba teszi.(default=True) Több kiírás jelenik neg a kimeneten 
            ha bemeneti értéke False: a debug móde kikapcsolásra kerül
            az osztály létrehozásakor a debug mód ki van kapcsolva 
        '''
        self.dms=value #Debug_mode_state

    
    
    def upload_from_csv(self,db:str,tabée:str,fname:str):
        
        '''
        MONGODB adatbázisba collection feltöltése fname csv-ből
        '''
        if self.dms:
            print("Upload_start")
        import mariadb
        import pandas as pd
    
        conn=mariadb.connect(user=self.user,password=self.pwd,host=self.host,port=self.port,database=self.database)
        cur=conn.cursor()
        
        cur.execute("SELECT * from ABB_file_location")

        cur.
        '''
        #print(df.head())
        df=pd.read_csv(fname)
        if self.dms:
            print(df.head())
        list_of_dict=df.to_dict('records')
        col.insert_many(list_of_dict)
        if self.dms:
            print("exit upload")
        return(col)
        '''

SyntaxError: invalid syntax (<ipython-input-2-46d7945f20ce>, line 36)

In [3]:
import mariadb
import pandas as pd
fname="E:/Backup/20220305/pdf_metadata.csv"
df=pd.read_csv(fname)

In [4]:
df.head()

,_id,index,fname,page,pos0,pos1,pos2,pos3
0,621d11a3d90b5e626f8f7148,0,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,14.576145,213.194702,363.603149,411.967529
1,621d11a3d90b5e626f8f7149,1,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,46.203800,109.823738,457.741821,189.823730
2,621d11a3d90b5e626f8f714a,2,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,376.747101,216.856796,596.134888,373.856812
3,621d11a3d90b5e626f8f714b,3,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,140.644699,448.092285,362.736877,528.592285
4,621d11a3d90b5e626f8f714c,4,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,140.644699,544.092285,364.276276,588.592285

In [5]:
df.columns=["_id","index1","fname","page","pos0","pos1","pos2","pos3"]

In [6]:

maria_usr=getenv('maria_nlp_user')
maria_pwd=getenv('maria_nlp_pwd')
maria_host="217.144.54.147"
database="NLP_ABB"

In [7]:
list_of_dict=df.to_dict('records')

In [9]:
list_of_dict[0]

{'_id': '621d11a3d90b5e626f8f7148',
 'index1': 0,
 'fname': '003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw',
 'page': 0,
 'pos0': 14.57614517211914,
 'pos1': 213.1947021484375,
 'pos2': 363.6031494140625,
 'pos3': 411.967529296875}

In [10]:
conn=mariadb.connect(user=maria_usr,password=maria_pwd,host=maria_host,port=3306,database=database)

In [11]:
cur=conn.cursor()

In [12]:
cur.execute("SELECT * from ABB_pdf ")

In [13]:
description=cur.description
cols=[i[0] for i in  description]
cols_str=str(cols).replace("'","")
cols_str=str(cols_str).replace("[","(").replace("]",")")

In [14]:
cols_str

'(_id, index1, fname, page, pos0, pos1, pos2, pos3)'

In [15]:
cols

['_id', 'index1', 'fname', 'page', 'pos0', 'pos1', 'pos2', 'pos3']

In [16]:
i=1
o=str([list_of_dict[i][k] for k in cols]).replace("[","(").replace("]",")")

In [17]:
o

"('621d11a3d90b5e626f8f7149', 1, '003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw', 0, 46.20380020141602, 109.82373809814452, 457.7418212890625, 189.82373046875)"

In [18]:
for i,_ in enumerate(list_of_dict):
    table="ABB_pdf"
    o=str([list_of_dict[i][k] for k in cols]).replace("[","(").replace("]",")")
    sql_cmd=f"INSERT INTO {table} {cols_str} VALUES "+o
    
    cur.execute(sql_cmd)
    conn.commit()

In [145]:
sql_cmd

"INSERT INTO ABB_pdf (_id, index1, fname, page, pos0, pos1, pos2, pos3) VALUES ('621d11a3d90b5e626f8f7149', 1, '003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw', 0, 46.20380020141602, 109.82373809814452, 457.7418212890625, 189.82373046875)"

In [147]:
cur.description

In [149]:
conn.commit()

In [150]:
conn.close()