In [1]:
import mariadb
from os import getenv

In [2]:
class MariaDbSupport:
    def __init__(self,user,pwd,host,database,port=3306):
        
        self.user=user
        self.pwd=pwd
        self.host=host
        self.database=database
        self.port=port
        self.dms=False
    
    def debug_mode(self,value:bool=True):
        '''
        Az osztályt debug üzemmódba teszi.(default=True) Több kiírás jelenik neg a kimeneten 
            ha bemeneti értéke False: a debug móde kikapcsolásra kerül
            az osztály létrehozásakor a debug mód ki van kapcsolva 
        '''
        self.dms=value #Debug_mode_state

    
    
    def upload_from_csv(self,db:str,tabée:str,fname:str):
        
        '''
        MONGODB adatbázisba collection feltöltése fname csv-ből
        '''
        if self.dms:
            print("Upload_start")
        import mariadb
        import pandas as pd
    
        conn=mariadb.connect(user=self.user,password=self.pwd,host=self.host,port=self.port,database=self.database)
        cur=conn.cursor()
        
        cur.execute("SELECT * from ABB_file_location")

        cur.
        '''
        #print(df.head())
        df=pd.read_csv(fname)
        if self.dms:
            print(df.head())
        list_of_dict=df.to_dict('records')
        col.insert_many(list_of_dict)
        if self.dms:
            print("exit upload")
        return(col)
        '''

SyntaxError: invalid syntax (<ipython-input-2-46d7945f20ce>, line 36)

In [106]:
import mariadb
import pandas as pd
fname="E:/corpus/_META_ABB_sentences_20220313_233000.txt"

df=pd.read_csv(fname)

In [107]:
df.head()

,_id,index,fname,page,pos0,pos1,pos2,pos3
0,0,0,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,46,109,457,189
1,1,1,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,376,216,596,373
2,2,2,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,140,448,362,528
3,3,3,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,140,544,364,588
4,4,4,003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw,0,140,604,360,696

In [108]:
df.columns=["_id","index1","fname","page","pos0","pos1","pos2","pos3"]

In [109]:

maria_usr=getenv('maria_nlp_user')
maria_pwd=getenv('maria_nlp_pwd')
maria_host="217.144.54.147"
database="NLP_ABB"

In [110]:
list_of_dict=df.to_dict('records')

In [111]:
print(len(list_of_dict))

1728782

In [113]:
list_of_dict[1]

{'_id': 1,
 'index1': 1,
 'fname': '003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw',
 'page': 0,
 'pos0': 376,
 'pos1': 216,
 'pos2': 596,
 'pos3': 373}

In [114]:
conn=mariadb.connect(user=maria_usr,password=maria_pwd,host=maria_host,port=3306,database=database)

In [115]:
'''
cur=conn.cursor()
cur.execute("delete from ABB_pdf ")
conn.commit()
'''

In [116]:
cur.execute("SELECT * from ABB_pdf ")

In [117]:
cur.next()

In [118]:
description=cur.description
cols=[i[0] for i in  description]
cols_str=str(cols).replace("'","")
cols_str=str(cols_str).replace("[","(").replace("]",")")

In [119]:
cols_str

'(_id, index1, fname, page, pos0, pos1, pos2, pos3)'

In [120]:
cols

['_id', 'index1', 'fname', 'page', 'pos0', 'pos1', 'pos2', 'pos3']

In [121]:
i=1
o=str([list_of_dict[i][k] for k in cols]).replace("[","(").replace("]",")")

In [122]:
o

"(1, 1, '003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw', 0, 376, 216, 596, 373)"

In [123]:
for i,_ in enumerate(list_of_dict):
    table="ABB_pdf"
    o=str([list_of_dict[i][k] for k in cols]).replace("[","(").replace("]",")")
    sql_cmd=f"INSERT INTO {table} {cols_str} VALUES "+o
    
    cur.execute(sql_cmd)
    if i % 10000==0:
        conn.commit()
        print(i, end="_ _")

0_ _10000_ _20000_ _30000_ _40000_ _50000_ _60000_ _70000_ _80000_ _90000_ _100000_ _110000_ _120000_ _130000_ _140000_ _150000_ _160000_ _170000_ _180000_ _190000_ _200000_ _210000_ _220000_ _230000_ _240000_ _250000_ _260000_ _270000_ _280000_ _290000_ _300000_ _310000_ _320000_ _330000_ _340000_ _350000_ _360000_ _370000_ _380000_ _390000_ _400000_ _410000_ _420000_ _430000_ _440000_ _450000_ _460000_ _470000_ _480000_ _490000_ _500000_ _510000_ _520000_ _530000_ _540000_ _550000_ _560000_ _570000_ _580000_ _

In [145]:
sql_cmd

"INSERT INTO ABB_pdf (_id, index1, fname, page, pos0, pos1, pos2, pos3) VALUES ('621d11a3d90b5e626f8f7149', 1, '003_IA_Brochure_Leah N. Oxford_OP_20190624_dfw', 0, 46.20380020141602, 109.82373809814452, 457.7418212890625, 189.82373046875)"

In [24]:
conn.commit()

In [25]:
conn.close()